@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #0A1A3D;
}

::-webkit-scrollbar-thumb {
  background: #344573;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B4C5FB;
}